{% extends 'back.html.twig' %}

{% block title %}Edit CategorieInstrument{% endblock %}

{% block body %}
    <h1>Edit CategorieInstrument</h1>

    {{ include('categorie_instrument/new.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_instrument_index') }}"><button type="button" class="btn btn-primary">retour</button></a>

    {{ include('categorie_instrument/_delete_form.html.twig') }}
{% endblock %}
