{% extends 'back.html.twig' %}

{% block title %}Edit Instruments{% endblock %}

{% block body %}
    <h1>Edit Instruments</h1>

    {{ include('instruments/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_instruments_index') }}">back to list</a>

    {{ include('instruments/_delete_form.html.twig') }}
{% endblock %}
