{% extends 'front.html.twig' %}

{% block title %}Ticket index {% endblock %}

{% block body %}
    <h1>Ticket index</h1>

    <table class="table">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Prix</th>
                <th>NbTickets</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                {#<td>{{ ticket.id }}</td>#}
                <td>{{ ticket.prix }}</td>
                <td>{{ ticket.nbTickets }}</td>
                <td>{{ ticket.type }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
