{% extends 'front.html.twig' %}


{% block body %}
  <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '561154435978032',
                xfbml      : true,
                version    : 'v16.0'
            });
            FB.AppEvents.logPageView();
        };
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
   <section class="track spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="section-title">
                        <h2>Latest tracks</h2>
                        <h1>Music podcast</h1>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="track__all">
                        <a href="#" class="primary-btn border-btn">View all tracks</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 p-0">
                    <div class="track__content nice-scroll">
     {% for music in music %}
       <div class="single_player_container">
                         
                            <h4>{{ music.nomMorceaux }}</h4>
                              <div class="card">
  {% set file_name = music.fichier|split('/')|last %}
  <audio controls>
    <source src="{{ asset('music/products/' ~ file_name) }}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  <div>
 <a href="{{ path('ssd', {'id': music.id}) }}" title="Share on Facebook"  class="btn btn-primary" style="background-color: #3b5998;"  role="button"><span class="badge bg-danger ms-2">Facebook</span></a>
 </div>
</div>
                        {% endfor %}
                         <div class="col-lg-5 p-0">
                  
                </div>
            </div>
        </div>
    </section>
    
</form>
 <section class="youtube spad">
        <div class="container">
            <div class="row">
                
                    <div class="section-title">
                        <h2>Youtube feed</h2>
                        <h1>Latest videos</h1>
                    </div>
            
            </div>
       </br>
       </br>
        </br>
         </br>
            <div class="row">
            <div class="blog__sidebar">
             <div class="blog__sidebar__item">
               <form class="" action="{{ path('app_convert_m_p3') }}" method="post" enctype="multipart/form-data">
  
    <div class="blog__sidebar">Convert Video MP4 to Mp3 </div><br><br>

    <input type="file" name="video" value="">
    <button type="submit" name="download" class="site-btn">Download</button>
                
             </div>
                </div>
            </div>
        </div>
    </section>

 <section class="countdown spad set-bg" data-setbg="img/countdown-bg.jpg">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="countdown__text">
                        <h1>Tomorrowland 2020</h1>
                        <h4>Music festival start in</h4>
                    </div>
                    <div class="countdown__timer" id="countdown-time">
                        <div class="countdown__item">
                            <span>20</span>
                            <p>days</p>
                        </div>
                        <div class="countdown__item">
                            <span>45</span>
                            <p>hours</p>
                        </div>
                        <div class="countdown__item">
                            <span>18</span>
                            <p>minutes</p>
                        </div>
                        <div class="countdown__item">
                            <span>09</span>
                            <p>seconds</p>
                        </div>
                    </div>
                    <div class="buy__tickets">
                        <a href="#" class="primary-btn">Buy tickets</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
 {% endblock %}
