<div class="card">

    <div class="card-body">
        <h5 class="card-title">{{ ins.nom }}</h5>
        <div class="card-title">
            {{ ins.prix }}

        </div>
        <img src="{{ ins.photo }}" alt="" class="card-img-top">
        <p ss="te text-muted">{{ ins.description }}</p>
    </div>
</div>